<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <script>
        var Module = {
            wasmBinaryFile: "lib.wasm",
            onRuntimeInitialized: main,
        };
        function main() {
            calculate = Module.cwrap('calculate', 'string', ['string']);
            free_mem = Module.cwrap('free_mem', null, null);
        }
    </script>
    <script src="lib.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
    <style>
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
input {
    background: #232729;
    color: white;
    border: none;
    font-family:inherit;
}
.displayer {
    background: #232729;
    color: white;
    grid-row: 1 / 5;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    word-wrap: break-word;
}
.wrapper {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 100vw;
    width: 100vw;
    height: 100vh;
}
    </style>
</head>
<body>
    <div class="wrapper" id="app" v-cloak>
        <div class="displayer" id="displayer">
            <p v-for="x in zip(inputs, outputs)">
            &gt;&nbsp;{{ x[0] }}<br/>
            {{ x[1] }}
            </p>
            <div style="white-space:nowrap">
                <label for="input">&gt;&nbsp;</label>
                <input id="input" type="text" v-model="input"
                                   v-on:keyup.enter="submit()"
                                   v-on:keydown.up="up()"
                                   v-on:keydown.down="down()"
                                   >

            </div>
        </div>
    </div>
    <script>
new Vue({
    el: "#app",
    data: {
        index: -1,
        inputs: [],
        outputs: [],
        input: "",
    },
    methods: {
        zip: (a, b) => a.map((x, i) => [x, b[i]]),
        submit: function() {
            this.inputs.push(this.input);
            this.outputs.push(calculate(this.input));
            this.input = "";
            Vue.nextTick(() => {
                var objDiv = document.getElementById("displayer");
                objDiv.scrollTop = objDiv.scrollHeight;
            });
        },
        up: function() {
            if (this.index < 0) this.index = this.inputs.length;
            if (this.index > 0) {
                this.index -= 1;
                this.input = this.inputs[this.index];
            }
        },
        down: function() {
            if (this.index < 0) return;
            this.index += 1;
            if (this.index >= this.inputs.length) this.index = -1;
            else this.input = this.inputs[this.index];
        },
    },
    mounted() {
        document.getElementById("input").focus();
    },
});
    </script>
</body>
</html>
